<div class="header-content">
	<h3>CLIENT DETAIL</h3>
</div>
<div class="create-quotation">

	<div class="box-quotation-project clearfix">
		<div class="box-quotation-title bacground-white">
			<h2>CLIENT DETAIL</h2>
		</div>
		<table class="table-style-common">
			<tr>
				<td class="td-title">Company name:</td>
				<td>{{client.Name}}</td>
			</tr>
			<tr>
				<td class="td-title">Address:</td>
				<td>{{client.clientAddress}}</td>
			</tr>
			<tr>
				<td class="td-title">Department:</td>
				<td>{{client.Department}}</td>
			</tr>
			<tr>
				<td class="td-title">Name:</td>
				<td>{{client.clientName}}</td>
			</tr>
			<tr>
				<td class="td-title">Tel:</td>
				<td>{{client.Tell}}</td>
			</tr>
			<tr>
				<td class="td-title">Fax:</td>
				<td>{{client.Fax}}</td>
			</tr>
			<tr>
				<td class="td-title">Mail:</td>
				<td>{{client.Email}}</td>
			</tr>
			<tr>
				<td class="td-title">Reference:</td>
				<td>{{client.Reference}}</td>
			</tr>
		</table>

		<div class="save-button">
			<button class="save" ng-click="backClient()">Back</button>
			<!-- <button class="cancel">Cancel</button> -->
		</div>
	</div>
</div>
