<div class="header-content">
	<h3>NEW CLIENT</h3>
</div>
<div class="create-quotation">

	<div class="box-quotation-project clearfix">
		<div class="box-quotation-title bacground-white">
			<h2>CREATE A NEW CLIENT</h2>
		</div>
		<table class="table-style-common">
			<tr>
				<td class="td-title">Company name:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Address:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Department:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Name:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Tel:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Fax:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Mail:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Reference:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
		</table>

		<div class="save-button">
			<button class="save">Save</button>
			<button class="cancel">Cancel</button>
		</div>
	</div>
</div>
