<div class="container clearfix">
	<!--View content-->
	<div class="header-content">
			<h3>INFORMATION</h3>
	</div>
	<div class="list-intro">
		<div class="dashbroad-description">
			<p><strong>Information from DIT</strong></p>
			<p class="craeted">April 1, 2015</p>
			<p>Global customer service centers answer questions from each country around the world to provide unsurpassed ...</p>
			<button>Read more</button>
		</div>
		<div class="dashbroad-description">
			<p><strong>Information from DIT</strong></p>
			<p class="craeted">April 1, 2015</p>
			<p>Global customer service centers answer questions from each country around the world to provide unsurpassed ...</p>
			<button>Read more</button>
		</div>
		<div class="dashbroad-description border-bottom-none">
			<p><strong>Information from DIT</strong></p>
			<p class="craeted">April 1, 2015</p>
			<p>Global customer service centers answer questions from each country around the world to provide unsurpassed ...</p>
			<button>Read more</button>
		</div>
		<div class="seemore">
			<img src="./img/icon_see_more.png">
			<p>See more</p>
		</div>
	</div>

	<!--End view content-->
</div>
<div class="container clearfix">
	<!--View content-->
	<div class="header-content">
			<h3>QUOTATION HISTORY</h3>
	</div>

	<div class="quotation-container">
		<div class="pagination">
	        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
	    </div>
	    <p class="clearfix"></p>
		<table ng-table="tableParams" class="table">
			<tr>
				<th class="th-width">Project Name</th>
				<th>Quotation title</th>
				<th>Client Name</th>
				<th>Revision</th>
				<th>Create date</th>
				<th>End date</th>
				<th>Status</th>
			</tr>
			<tr dir-paginate="project in projects | filter: query | itemsPerPage: pageSize" current-page="currentPage">
				<td class="td-str"><a href="#/projects/{{project.projectName}}/view">{{project.projectName}}</a></td>
				<td class="td-str"><a href="#/quotations/edit/{{project.quotation}}">{{project.quotation}}</a></td>
				<td class="td-str"><a href="#/clients/{{project.clientName}}/view">{{project.clientName}}</a></td>
				<td class="td-num">{{project.revison}}</td>
				<td class="td-num">{{project.createDate}}</td>
				<td class="td-num">{{project.endDate}}</td>
				<td class="td-num">{{project.status}}</td>
			</tr>
		</table>
		<div class = "button-group clearfix">
			<div class="buttons-left">
				<a href="#/projects/new"><button>New Project</button></a>
				<a href="#/quotations/new"><button>New Quotation</button></a>
			</div>
			<div class="pagination">
		        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
		    </div>
		</div>
	</div>

	<!--End view content-->
</div>
<div class="container clearfix">
	<div class="header-content">
			<h3>BAR CHART</h3>
	</div>
	<div class="group-chart clearfix">
		<div class = "traffic-char">
			<label>Traffic</label><br>
			<img src="./img/traffic_chart.png">
		</div>
		<div class = "visitor-char">
			<label>Bookings and Visitors</label><br>
			<img src="./img/visitors_chart.png">
		</div>
	</div>


</div>
