<div class="container clearfix">
	<!--View content-->
	<div class="header-content">
			<h3>INFORMATION</h3>
	</div>
	<div class="list-intro">
		<div class="dashbroad-description">
			<p><strong>Information from DIT</strong></p>
			<p class="craeted">April 1, 2015</p>
			<p>Global customer service centers answer questions from each country around the world to provide unsurpassed ...</p>
			<button>Read more</button>
		</div>
		<div class="dashbroad-description">
			<p><strong>Information from DIT</strong></p>
			<p class="craeted">April 1, 2015</p>
			<p>Global customer service centers answer questions from each country around the world to provide unsurpassed ...</p>
			<button>Read more</button>
		</div>
		<div class="dashbroad-description border-bottom-none">
			<p><strong>Information from DIT</strong></p>
			<p class="craeted">April 1, 2015</p>
			<p>Global customer service centers answer questions from each country around the world to provide unsurpassed ...</p>
			<button>Read more</button>
		</div>
		<div class="seemore">
			<img src="./img/icon_see_more.png">
			<p>See more</p>
		</div>
	</div>

	<!--End view content-->
</div>
<div class="container clearfix">
	<!--View content-->
	<div class="header-content">
			<h3>QUOTATION HISTORY</h3>
	</div>

	<div class="quotation-container">
		<div class="pagination">
	        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
	    </div>
	    <p class="clearfix"></p>
		<table class="quotation-table">
			<tr>
				<td class="table-title">Project Name</td>
				<td class="table-title">Quotation title</td>
				<td class="table-title">Client Name</td>
				<td class="table-title">Revision</td>
				<td class="table-title">Create date</td>
				<td class="table-title">End date</td>
				<td class="table-title">Status</td>
			<tr>
			<tr dir-paginate="quotation in quotations | itemsPerPage: pageSize" current-page="currentPage">
				<td><a href="#/projects/{{quotation.projectName}}/view">{{quotation.projectName}}</a></td>
				<td><a href="#/quotations/edit/{{quotation.estimationName}}">{{quotation.estimationName}}</a></td>
				<td><p>{{quotation.clientName}}</p></td>
				<td>{{quotation.revison}}</td>
				<td>{{quotation.createDate}}</td>
				<td>{{quotation.endDate}}</td>
				<td>{{quotation.status}}</td>
			</tr>
		</table>
		<div class = "button-group clearfix">
			<div class="buttons-left">
				<a href="#/projects/new"><button>New Project</button></a>
				<a href="#/quotations/new"><button>New Quotation</button></a>
			</div>
			<div class="pagination">
		        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
		    </div>
		</div>
	</div>

	<!--End view content-->
</div>
<div class="container clearfix">
	<div class="header-content">
			<h3>BAR CHART</h3>
	</div>
	<div class="group-chart clearfix">
		<div class = "traffic-char">
			<label>Traffic</label><br>
			<img src="./img/traffic_chart.png">
		</div>
		<div class = "visitor-char">
			<label>Bookings and Visitors</label><br>
			<img src="./img/visitors_chart.png">
		</div>
	</div>


</div>
