<div class="header-content">
		<h3>PROJECT DETAIL</h3>
</div>
<div class="create-quotation">

	<div class="box-quotation-project clearfix">
		<div class="box-quotation-title bacground-white">
			<h2>PROJECT DETAIL</h2>
		</div>
		<table class="table-style-common">
			<tr>
				<td class="td-title">Project name:</td>
				<td>{{project.projectName}}</td>
			</tr>
			<tr>
				<td class="td-title">Project address:</td>
				<td>{{project.address}}</td>
			</tr>
			<tr>
				<td class="td-title">Client name:</td>
				<td>
					{{project.clientName}}
				</td>
			</tr>
			<tr>
				<td class="td-title">Address:</td>
				<td>{{project.adress}}</td>
			</tr>
			<tr>
				<td class="td-title">Department:</td>
				<td>{{project.Department}}</td>
			</tr>
			<tr>
				<td class="td-title">Name:</td>
				<td>{{project.estimationName}}</td>
			</tr>
			<tr>
				<td class="td-title">Tel:</td>
				<td>{{project.Tell}}</td>
			</tr>
			<tr>
				<td class="td-title">Fax:</td>
				<td>{{project.Fax}}</td>
			</tr>
			<tr>
				<td class="td-title">Email:</td>
				<td>{{project.Email}}</td>
			</tr>
			<tr>
				<td class="td-title">Reference:</td>
				<td>{{project.Reference}}</td>
			</tr>
		</table>

		<div class="save-button">
			<button class="save" ng-click="backProject()">Back</button>
		</div>
	</div>
</div>
