<div class="project">
	<div class="projectInfo">
		<h3>Project information</h3>
	</div>
	<div class="project-search">
		<input type="text" placeholder="Search project name" ng-model="query">
		<div class="search-icon"><img src="./img/icon-search.png"></div>
	</div>
	<div class="pagination">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
	</div>
	<div class="project-table">
		<table ng-table="tableParams" class="table">
			<tr>
				<th class="th-width">Project Name</th>
				<th>Quotation title</th>
				<th>Client Name</th>
				<th>Revision</th>
				<th>Create date</th>
				<th>End date</th>
				<th>Status</th>
			</tr>
			<tr dir-paginate="project in projects | filter: query | itemsPerPage: pageSize" current-page="currentPage">
				<td class="td-str"><a href="#/projects/{{project.projectName}}/view">{{project.projectName}}</a></td>
				<td class="td-str"><a href="#/quotations/edit/{{project.quotation}}">{{project.quotation}}</a></td>
				<td class="td-str"><a href="#/clients/{{project.clientName}}/view">{{project.clientName}}</a></td>
				<td class="td-num">{{project.revison}}</td>
				<td class="td-num">{{project.createDate}}</td>
				<td class="td-num">{{project.endDate}}</td>
				<td class="td-num">{{project.status}}</td>
			</tr>
		</table>
	</div>
	<div class="pagination">
		<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
	</div>
	<div class="button">
		<button><a href="#/projects/new">New Project<a></button>
	</div>
</div>
