<div class="header-content">
		<h3>NEW PROJECT</h3>
</div>
<div class="create-quotation">

	<div class="box-quotation-project clearfix">
		<div class="box-quotation-title bacground-white">
			<h2>CREATE A NEW PROJECT</h2>
		</div>
		<table class="table-style-common">
			<tr>
				<td class="td-title">Project name:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Project address:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Client name:</td>
				<td>
					<select class="input-project">
						<option>Malay Annals</option>
						<option>Adam</option>
						<option>Client name1</option>
						<option>Client name2</option>
						<option>Client name3</option>
						<option>Client name4</option>
						<option>Client name5</option>
						<option>Client name6</option>
						<option>Client name7</option>
						<option>Client name8</option>
						<option>Client name9</option>
						<option>Client name10</option>
						<option>Client name11</option>
					</select>
				</td>
			</tr>
			<tr>
				<td class="td-title">Address:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Department:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Name:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Tel:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Fax:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Email:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Reference:</td>
				<td><input type="text" class="input-project"></td>
			</tr>
		</table>

		<div class="save-button">
			<button class="save">Save</button>
			<button class="cancel">Cancel</button>
		</div>
	</div>
</div>
