<div class="header-content">
		<h3>NEW PROJECT</h3>
</div>
<div class="create-quotation">

	<div class="box-quotation-project clearfix">
		<div class="box-quotation-title bacground-white">
			<h2>CREATE A NEW PROJECT</h2>
		</div>
		<table class="table-style-common">
			<tr>
				<td class="td-title">Project name:</td>
				<td><input type="text" ng-model="project.projectName" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Project address:</td>
				<td><input type="text" ng-model="project.address" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Company name:</td>
				<td>
					<select class="input-project clientNameSelect" ng-model="project.clientName">
						<option ng-repeat="(key, client) in clients">{{client.Name}}</option>

					</select>
				</td>
			</tr>
			<tr>
				<td class="td-title">Address:</td>
				<td><input type="text" ng-model="project.adress" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Department:</td>
				<td><input type="text" ng-model="project.Department" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Name:</td>
				<td><input type="text" ng-model="project.estimationName" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Tel:</td>
				<td><input type="text" ng-model="project.Tell" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Fax:</td>
				<td><input type="text" ng-model="project.Fax" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Email:</td>
				<td><input type="text" ng-model="project.Email" class="input-project"></td>
			</tr>
			<tr>
				<td class="td-title">Reference:</td>
				<td><input type="text" ng-model="project.Reference" class="input-project"></td>
			</tr>
		</table>

		<div class="save-button">
			<button class="save" ng-click="addProject()">Save</button>
			<button class="cancel" ng-click="backProject()">Cancel</button>
		</div>
	</div>
</div>
