<div class="project">
    <div class="projectInfo">
        <h3>Quotation information</h3>
    </div>
    <div class="project-search">
        <input type="text" placeholder="Search quotation name" ng-model="query">
        <div class="search-icon"><img src="./img/icon-search.png"></div>
    </div>
    <div class="pagination">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
    </div>
    <div class="project-table">
        <table ng-table="tableParams" class="table">
            <tr>
                <th>Quotation title</th>
                <th class="th-width">Project name</th>
                <th>Company name</th>
                <th>Revision</th>
                <th>Create date</th>
                <th>End date</th>
                <th>Status</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
            <tr dir-paginate="(key, quotation) in quotations | filter: query | itemsPerPage: pageSize" current-page="currentPage">
                <td class="td-str left"><a href="#/quotations/edit/{{quotation.key}}">{{quotation.quotationTitle}}</a></td>
                <td class="td-str left"><a href="#/projects/{{quotation.projectName}}/view">{{quotation.projectName}}</a></td>
                <td class="td-str left"><a href="#/clients/{{quotation.clientName}}/view">{{quotation.clientName}}</a></td>
                <td class="td-num">{{quotation.revison}}</td>
                <td class="td-num">{{quotation.createDate}}</td>
                <td class="td-num">{{quotation.endDate}}</td>
                <td class="td-num">{{quotation.status}}</td>
                <td class="td-num"><a href="#/quotations/edit/{{quotation.key}}">Edit</a>&nbsp;&nbsp;&nbsp;<a href="" ng-click="viewDetailDialog(quotation)">View</a></td>
            </tr>
        </table>
    </div>
    <div class="pagination">
        <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="./views/pagination.tpl.html"></dir-pagination-controls>
    </div>
    <div class="button">
        <button><a href="#/quotations/new">New Quotation<a></button>
    </div>
</div>
