<div class="contents-popup clearfix">
	<div class="banner-popup-quotation clearfix">
		<img src="./img/logo.png" alt="">
		<h3>QUOTATION</h3>
	</div>

	<div class = "popup-content">
		<p class = "text-underline">No:     01200302100012013</p>
		<p><strong>Company name: </strong>Fujitsu Components Asia Pte. Ltd.</p>
		<p><strong>Address: </strong>102E, Pasir Panjang Road #01-01 Citilink Warehouse  Complex Singapore 118529.</p>
		<p><strong>Department:</strong></p>
		<p><strong>Name</strong>:</p>
		<table class="table-style-common table-quotation-popup">
			<tr>
				<td>Project name:</td>
				<td><div class="border-text">{{qoutationView.projectName}}</div></td>
				<td class="td-width-10">&nbsp</td>
				<td>Quotation No:</td>
				<td><div class="border-text">est-120563525000250</td>
			</tr>
			<tr>
				<td>Quotation title:</td>
				<td><div class="border-text">{{qoutationView.estimationName}}</div></td>
				<td>&nbsp</td>
				<td>Revision:</td>
				<td><div class="border-text">{{qoutationView.revison}}</div></td>
			</tr>
			<tr>
				<td>Reference:</td>
				<td><div class="border-text">{{qoutationView.revison}}</div></td>
				<td>&nbsp</td>
				<td>Creat date:</td>
				<td><div class="border-text">{{qoutationView.createDate}}</div></td>
			</tr>
		</table>
		<table class = "table-border-black">
			<tr>
				<td colspan="2" class="text-center"><strong>Model</strong></td>
				<td class="text-center"><strong>Capacity</strong></td>
				<td class="text-center"><strong>Description</strong></td>
				<td class="text-center"><strong>Qty</strong></td>
				<td class="text-center"><strong>Unit</strong></td>
				<td class="text-center td-width-10"><strong>List Price</strong></td>
				<td class="text-center td-width-10"><strong>Price</strong></td>
				<td class="text-center td-width-10"><strong>Amount</strong></td>
			</tr>
			<tr>
				<td colspan = "9" class = "text-blue"><strong>Outdoor units</strong></td>
			</tr>
			<tr>
				<td>Serial number <br>B000000</td>
				<td>RXQ6TY1S</td>
				<td class="text-center">0.0kW</td>
				<td>Cooling only VRV IV<br>STANDARD</td>
				<td class="text-center">2</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "9" class = "text-blue"><strong>Indoor units</strong></td>
			</tr>
			<tr>
				<td>Serial number <br>B000000</td>
				<td>RXQ6TY1S</td>
				<td class="text-center">0.0kW</td>
				<td>Medium / Low Temperature<br>Refrigeration</td>
				<td class="text-center">6</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "9" class = "text-blue"><strong>Option parts</strong></td>
			</tr>
			<tr>
				<td colspan = "3">KHPR26A22T</td>
				<td>REFNET Branch piking kit</td>
				<td class="text-center">2</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">KHPR26A22T</td>
				<td>REFNET Branch piking kit</td>
				<td class="text-center">2</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">DCS601C51</td>
				<td>SkyAir (Packaged Air <br>Conditioners for Shops & <br>Small Offices)</td>
				<td class="text-center">2</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">BYCP125B-W1</td>
				<td>Decoration Panel</td>
				<td class="text-center">1</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">Piping 6.4</td>
				<td>&nbsp</td>
				<td class="text-center">74.0m</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">Piping 6.4</td>
				<td>&nbsp</td>
				<td class="text-center">56.0m</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">Piping 6.4</td>
				<td>&nbsp</td>
				<td class="text-center">80.0m</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">Piping 6.4</td>
				<td>&nbsp</td>
				<td class="text-center">36.0m</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">Refrigerant</td>
				<td>&nbsp</td>
				<td class="text-center">15kg</td>
				<td class="text-center">&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td colspan = "3">&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
			</tr>
			<tr>
				<td colspan = "3">&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
			</tr>
			<tr>
				<td colspan = "3">&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
			</tr>
		<table class = "table-border-black">
			<tr>
				<td class = "text-blue"><strong>Installtation cost</strong></td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
			</tr>
			<tr>
				<td>Unit installtation</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td>Piping work</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td>Other constructions</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right">000,000</td>
				<td class="text-right">000,000</td>
			</tr>
			<tr>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td>&nbsp</td>
				<td class="text-right">&nbsp</td>
				<td class="text-right">&nbsp</td>
			</tr>
		</table>
		<table class = "table-border-black">
			<tr>
				<td>Subtotal</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
			</tr>
			<tr>
				<td>Tax</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
			</tr>
			<tr>
				<td>Total</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-11">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
				<td class="text-right td-width-10">&nbsp</td>
			</tr>
		</table>
		<table class = "table-border-black">
			<tr>
				<td class = "td-note">Note</td>
			</tr>
		</table>
	</div>
</div>
</div>
